* {
    box-sizing:border-box;
}
html,body {
    width:100%;
}
body {
    background-color:white;
}


div.img {
	margin:5px;
	border:10px solid white;
	float:left;
	width:138px;
    background:white;

}

div.img:hover {
	border: 10px solid #777;
}

div.img img {
	width:118px;
	height:142px;
}

div.desc {

	text-align:center;
    background:white;
}

span.jabatan {

	text-align:center;
    background:white;
}

div.explanation {
width: 29%;
height: 100%;
border-style: double;
border-color: #D3D3D3;
border-width: 10px;
margin-top: 5%;
margin-bottom: 4%;
padding: 0%;
background-color: #A9A9A9; 
position:relative;
left: 34%;
 
}
div.exin {
    background-color: darkgrey;

}



div.subsection3third {
	margin-top:30px;
	margin-bottom:30px; 
<!--	height:30%;  -->
border:solid 5px white;
display:block;
}

p.introduction {
    text-align:center;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 24px;
    color: white;
}


.clearfix {
	clear:both;
}

section {
    width:75%;
    float:right;
    background:red;
    background-size:100% 100%;
    margin-top:-1%;


}
#wrapper {
    background:url("BGhome.png") no-repeat;
    background-size:100% 100%;
    padding: 35% 0%;
}
#wrapperreg{
    padding:35% 0%;
}
form.register {
    background:darkgrey;
    background-size:25% 25%;
    float:right;
 /*   padding:25% 25%; */
}
div.intermezo {
width:22%;
position: absolute;
top: 87%;
left: 78.5%;
right: 0%;

} 
div.bahasa {
    text-align:right;
    background:white;
    color:red;
    position: relative;
    left: -7%;
    padding-top: 0.05%;
    padding-bottom: 0.05%;
    width: 107.5%;
}
div.nusantara {
    text-align:right;
    background:red;
    color:white;
    padding-top:0.05%;
    padding-bottom:0.05%;
}
.input_text , .submit {
    padding:2% 2% 2% 2%;
    margin:2% 2% 2% 2%;
    
}
.input_text {

    width:300px;
}
.submit {
    width:200px;
    position:relative;
    left:4%;

}
p.text {
    text-align:right;
    position:relative;
    right:2%;
}
div.profil {
    
    display: inline-block;
    padding: 0% 5% 0% 5%;

}
div.nav {
    position:fixed;
    width:25%;
    height:100%;
    background:white;
    float:left;
    display:block;
    
}
ul {
width: 353px;
padding-right: 4%;
list-style-type: none;
overflow: hidden;
text-align: right;
padding-left: 0%;
}



li a {

    display: block;
    text-align:right;
    color: red;
    padding: 14px;
    text-decoration: none;
    font-size:22px;
}

li a:hover {
    display:block;
    background-color: darkgrey;    
   /* width:100%; */
}
div.outerhov:hover {

}

.ul1 {
    font-family: Verdana, Helvetica, sans-serif;
}


.twit {
   
}

div.twit:hover {
	background-color:  #777;
}

.twit h4 {
    padding-right:16%;
    color:red;
    float:left;
    font-family: Verdana, Helvetica, sans-serif;
}

.gplus {


}

div.gplus:hover {
	background-color:  #777;
}

.gplus h4 {
    padding-right:20%;
    color:red;
    float:left;
    font-family: Verdana, Helvetica, sans-serif;
}
hr {
position: relative;

right: 1%;
width: 95%;
}
div.logo {
background-color:darkgrey;
margin-top: -3%;
margin-left: -4%;
padding-top: 2%;
}
