body {
    background-image: url(bg.jpg); 
}


div.img {
	margin:5px;
	border:1px solid #ccc;
	float:left;
	width:200px;
}

div.img:hover {
	border: 1px solid #777;
}

div.img img {
	width:100%;
	height:auto;
}

div.desc {
	padding:15px;
	text-align:center;
}

span.jabatan {
	padding:15px;
	text-align:center;
}

div.explanation {
	width:100%;
	height:100%;
	border:solid 10px lightgrey;
    margin-top:20%;
    margin-bottom: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 4%;
    padding-left: 4%;
    background-color: darkgray;
}

div.section1 {
	display:inline-block;
    float:left;
    width:33%;
}

div.section2 {
	display:inline-block;
    float:left;
    width:30%;
}

div.section3 {
	display:inline-block;
    float:right;
}



div.subsection3third {
	margin-top:30px;
	margin-bottom:30px; 
<!--	height:30%;  -->
border:solid 5px white;
display:block;
}

p.introduction {
	text-align:center;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 24px;
    color: white;
}

img {
	margin-left:auto;
	margin-right:auto;
}



.clearfix {
	clear:both;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 1%;
    overflow: hidden;
    background:#1a1a1a;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: red;
}

.ul1 {
    font-family: Verdana, Helvetica, sans-serif;
}


.twit {
    text-align: center;
    width: 50%;
    float:left;
}

div.twit:hover {
	background-color:  #777;
}

.twit h4 {
    float: right;
    color:black;
    position: inherit;
    font-family: Verdana, Helvetica, sans-serif;
}

.gplus {
    text-align: center;
    width:50%;
    float:right;
}

div.gplus:hover {
	background-color:  #777;
}

.gplus h4 {
    float: right;
    color:black;
    position: relative;
    font-family: Verdana, Helvetica, sans-serif;
}
