
html,body {
    width:100%;
}
body {
    background-color:white;
}


div.img {
	margin:5px;
	border:1px solid #ccc;
	float:left;
	width:200px;
}

div.img:hover {
	border: 1px solid #777;
}

div.img img {
	width:100%;
	height:auto;
}

div.desc {
	padding:15px;
	text-align:center;
}

span.jabatan {
	padding:15px;
	text-align:center;
}

div.explanation {
width: 29%;
height: 100%;
border-style: double;
border-color: #D3D3D3;
border-width: 10px;
margin-top: 5%;
margin-bottom: 4%;
padding: 0%;
/* background-color: #A9A9A9; */
position:relative;
left: 34%;
 
}
div.exin {
    background-color: darkgrey;

}



div.subsection3third {
	margin-top:30px;
	margin-bottom:30px; 
<!--	height:30%;  -->
border:solid 5px white;
display:block;
}

p.introduction {
	text-align:center;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 24px;
    color: white;
}

img {
	margin-left:auto;
	margin-right:auto;
}



.clearfix {
	clear:both;
}

section {
    width:75%;
    float:right;
    background-color:red;
    margin-top:-1%;


}
div.profil {
    
padding: 0% 0% 0% 9%;
    
}
div.profil1 {
    display:inline-block;
}
div.profil2 {
    display:inline-block;
}
div.nav {
   
    width:25%;
    padding:0% 0% 0% 0%;
    background:white;
    float:left;
    display:block;
    
}
ul {
list-style-type: none;
margin: 0px;
padding: 0% 0% 0% 34%;
overflow: hidden;
text-align: right;
}

li {
    float: right;
}

li a {
    display: block;
    text-align:right;
    color: red;
    padding: 14px 16px;
    text-decoration: none;
    font-size:22px;
}

li a:hover {
    display:;
    background-color: darkgrey;
 
    
}

.ul1 {
    font-family: Verdana, Helvetica, sans-serif;
}


.twit {
   
}

div.twit:hover {
	background-color:  #777;
}

.twit h4 {
    padding-right:16%;
    color:red;
    float:left;
    font-family: Verdana, Helvetica, sans-serif;
}

.gplus {




}

div.gplus:hover {
	background-color:  #777;
}

.gplus h4 {
    padding-right:20%;
    color:red;
    float:left;
    font-family: Verdana, Helvetica, sans-serif;
}
hr {
position: relative;

right: 1%;
width: 95%;
}
div.logo {
    background-color:darkgrey;
    margin-top: -3%;
margin-left: -4%;
padding-top: 2%;
}