body {
	background: #f0f5f5;
	color:#1aff1a;
	font-family:'Droid Serif',serif;
	font-size:16px;
}
#wrapper {
	background:#fff;
	margin: 10px auto;
	max-width: 980px;
	width: 98%;
}
nav {
	background-color:#222;
	padding:0;
	margin:10px 0;
}
nav a {
	color:#F9F9F9;
	display:block;
	padding:10px;
	float:left;
}
nav a:visited {
	color:#53bd84;
	text-decoration:none;
}
nav a:active{
	position:relative;
	top:0;
}
.clearfix {
	clear:both;
}
#about,#featured,#latest { 
	padding:20px;

}
.left-col {
	float:left;
	width:70%;
	display:inline-block;

}
.sidebar {
	float:right;
	width:20%;
	margin-bottom:10px;
	display:inline-block;
}
